*{
  user-select: none;
}

.container{
  position: absolute;
  width: 80%;
  height: 65%;
  border: cornflowerblue solid 2px;
  left: 10%;

}

.oldComments{
  position: absolute;
  width: 80%;
  height: 30%;
  border: cornflowerblue solid 2px;
  bottom: 2%;
  left: 10%;

}


.img-container{
  position: relative;
  width: 70%;
  height: 60%;
  left: 15%;
  top: 5%;
  border: cornflowerblue solid 2px;
}

.btns{
  position: absolute;
  width: 20%;
  height: 7%;
  border: cornflowerblue solid 2px;
  text-align: center;
  border-radius: 5px;
  background-color: beige;
  /* border: none;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px; */
}


.btns:hover{
  background-color: rgb(205, 205, 180);

}

.likeBtn{
  bottom: 2%;
  left: 15%;
}
.nopeBtn{
  bottom: 2%;
  right: 15%;
}
.commentBtn{
  bottom: 2%;
  right: 39%;
}

.newCatBtn{
  bottom: 22%;
  right: 40%;
}

.voteBar{
  border: cornflowerblue solid 2px;
  position: absolute;
  bottom: 12%;
  left: 10%;
  width: 80%;
  height: 7%;
  border-radius: 10px;
  overflow: hidden;
}

.voteBar::before {
  content: "";
  background-color: rgb(37, 129, 25); 
  width: var(--widthYes);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.voteBar::after {
  content: "";
  background-color: rgb(114, 14, 14); 
  width: var(--widthNo);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.commentSection{
  width: 100%;
  height: 32%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  /* visibility: hidden; */
}

.commentText{
  width: 50%;
  height: 95%;
  bottom: 0;
}

.commentSubmit{
  bottom: 50%;
  left: 65%;
  height: 15%;

}

.commentClose{
  bottom: 30%;
  left: 65%;
  height: 15%;

}


.hidden{
  visibility: hidden;
}

.newComment{
  position: relative;
  width: 100%;
  height: 20%;
  border: solid red;
  display: flex;
  justify-content: space-between;
}

.commentDiv{
  width: 45%;
  border: solid rgb(72, 16, 16);
  right: 0%;
}
.dateDiv{
  width: 45%;
  border: solid rgb(72, 195, 89);
  left: 0%;
}